*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Manrope', sans-serif;
}

ul{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

.head{
  background:hsl(224, 65%, 95%);
  background-image: url("./images/pattern-circles.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top 70px left 50%;
  text-align: center;
  padding: 100px 1rem 150px 1rem;
  border-bottom-left-radius: 150px;
}

.head h1{
  color: hsl(227, 35%, 25%);
  font-size: 1.5rem;
}

.head p {
  width: 60%;
  margin: auto;
  font-size: 15px;
  color: hsl(225, 20%, 60%);
}

.card{
  margin: 2rem auto;
  margin-top: -80px;
  width: min(90%, 600px);
  padding: 1rem;
  color: hsl(225, 20%, 60%);
  background: hsl(0, 0%, 100%);
  border-radius: .5rem;
}

.Pageviews{
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.scroll{
  width : 100%;
  height: 1rem;
  background: red;
  margin: 1rem 0;
  border-radius: .5rem;
}

.monthly-cost{
  text-align: center;

}

.price{
  font-size: 2rem;
  color: hsl(227, 35%, 25%);
  font-weight: 800;
}

.toggle__section{
  display: flex;
  justify-content: center;
  font-size: 14px;
}


.toggle__btn{
  width: 40px;
  height: 24px;
  border-radius: 12px;
  background: hsl(223, 50%, 87%);
  margin: 0 .9rem;
}

.toggle__btn:hover{
  background: hsl(174, 77%, 80%);
}


.toggle__btn--switch{
  margin: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.toggle__btn--switch--on{
  transform: translateX(calc(100% - 2px));
}

.discount{
  color: hsl(15, 100%, 70%);
  background: hsl(14, 92%, 95%);
  padding: 0 .5rem;
  border-radius: 1rem;
}

.card__footer{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: solid 2px hsla(225, 20%, 60%, 0.25);
}

.perks{
  text-align: center;
}
.perks__item + .perks__item{
  margin-top: 0.5rem;
}

.check{
  margin-right: .5rem;
}

.trial__btn{
  display: block;
  padding: .5rem 2rem;
  margin: 1rem auto;
  color:hsl(224, 65%, 95%);
  background:  hsl(227, 35%, 25%);
  border-radius: 1.5rem;
  text-align: center;
  max-width: 200px;
}

@media(min-width: 600px){
  .card__header{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 1rem 2rem;
  }

  .Pageviews{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
  }

  .scroll{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .monthly-cost{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
  }

  .card__footer{
    flex-direction: row;
    align-items: center;
  }
  .perks{
    text-align: left;
  }
}
