:root{
  --fill: 25%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Manrope', sans-serif;
}

ul{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

.head{
  background:hsl(224, 65%, 95%);
  background-image: url("./images/pattern-circles.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top 70px left 50%;
  text-align: center;
  padding: 100px 1rem 150px 1rem;
  border-bottom-left-radius: 150px;
}

.head h1{
  color: hsl(227, 35%, 25%);
  font-size: 1.5rem;
  font-weight: 800;
}

.head p {
  width: 60%;
  margin: auto;
  font-size: 15px;
  color: hsl(225, 20%, 60%);
}

.card{
  margin: 2rem auto;
  margin-top: -80px;
  width: min(90%, 600px);
  padding: 2rem 1rem;
  color: hsl(225, 20%, 60%);
  background: hsl(0, 0%, 100%);
  border-radius: .5rem;
  box-shadow: 1px 7px 12px hsl(225, 20%, 80%);
}

.Pageviews{
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.scroll-layout{
  position: relative;
}

.scroll{
  display: block;
  -webkit-appearance: none;
  width : 100%;
  height: 10px;
  background: hsl(224, 65%, 95%);
  margin: 1rem 0;
  border-radius: 5px;
  transition: all 0.2 linear;
  outline:none;
}
.scroll::-webkit-progress-value{
  -webkit-appearance: none;
  background: green;
}

.scroll::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background: hsl(174, 86%, 45%);
  background-image: url("./images/icon-slider.svg");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0 12px 24px hsl(174, 86%, 45%);
}

.scroll:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: hsl(174, 77%, 60%);
  cursor: pointer;
}

.scroll:focus::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: hsl(174, 86%, 45%);
  box-shadow: none;

}

.scroll-fill{
  width: var(--fill);
  height: 10px;
  border-radius: 5px 0 0 5px;
  background: hsl(174, 86%, 45%);
  position: absolute;
  top: 0;
}

.monthly-cost{
  text-align: center;

}

.price{
  font-size: 2rem;
  color: hsl(227, 35%, 25%);
  font-weight: 800;
}

.toggle__section{
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 1rem 0;
}


.toggle__btn{
  width: 40px;
  height: 24px;
  border-radius: 12px;
  background: hsl(223, 50%, 87%);
  margin: 0 .9rem;
}

.toggle__btn:hover{
  background: hsl(174, 77%, 80%);
}


.toggle__btn--switch{
  margin: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.toggle__btn--switch--on{
  transform: translateX(calc(100% - 2px));
}

.discount{
  color: hsl(15, 100%, 70%);
  background: hsl(14, 92%, 95%);
  padding: 0 .5rem;
  border-radius: 1rem;
}

.card__footer{
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
  padding-top: 1rem;
  border-top: solid 2px hsla(225, 20%, 60%, 0.25);
}

.perks{
  text-align: center;
}

.perks__item{

  transition: all 0.1s linear;
}

.perks__item:hover{
  color: hsl(174, 86%, 45%);
  cursor: pointer;
  transform: scale(1.05);
}

.perks__item + .perks__item{
  margin-top: 0.5rem;
}

.check{
  margin-right: .5rem;
}

.trial__btn{
  display: block;
  padding: .5rem 2rem;
  margin: 1rem auto;
  color:hsl(224, 65%, 95%);
  background:  hsl(227, 35%, 25%);
  border: solid 2px hsl(227, 35%, 25%);
  border-radius: 1.5rem;
  text-align: center;
  font-weight: 800;
  max-width: 200px;
  outline: none;
  transition: all 0.2s linear;
}

.trial__btn:hover{
  color:  hsl(227, 35%, 25%);
  background: hsl(224, 65%, 95%);
}

@media(min-width: 600px){
  .card__header{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 1rem 2rem;
  }

  .Pageviews{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
  }

  .scroll-layout{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .scroll-fill{
    top: 1rem;
  }

  .monthly-cost{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
  }

  .card__footer{
    flex-direction: row;
    align-items: center;
  }
  .perks{
    padding-left: 1rem;
    text-align: left;
  }
}
